
/* Google-fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}



.nav-margin{
    margin-left:2rem;
    margin-right: 2rem;
}

.nav-text{
    
    font-size:2rem;
    color: #4A4A4A;
}

.carousel-caption{
    z-index: 2;
}

.black-overlay::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.description{
    padding: 100px;
}

.price{
    color: #289BDE;
}


.bg-exprore{
    background-color: #F4FAFD;
}
.button-bg{
    background: #289BDE !important;
    color: #fff !important;
}

.reg-bg{
    background-color: #289BDE;
}
.register-btn{
    background-color: #fff!important;
    color: #289BDE !important;
}





.img-rev{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.footer-part{
    background-color: #161616;

}

.fa-brands{
    font-size: 2rem;
    padding: 6px;
    color: #fff;
}

.fa-solid{
    color: goldenrod;
}

@media screen and (max-width:576px){
    .carousel-inner .carousel-caption{
   
    top: 5px;
    
    }

    .carousel-inner .carousel-caption h1{
        font-size: 1em;

    }
    .carousel-inner .carousel-caption p{
   
        font-size: 0.7em;
    } 
    
    

    
}


@media (min-width: 577px) and (max-width:992px) { 
    .row .img-mid{
        display: flex;
        justify-content: center;

    }

    .container .register{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 }


 